<header class="main-header">
  <div id="main-sticky-nav" class="main-sticky-nav">
    <div class="container custom-container">
      <div class="row">
        <div class="w-100">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="col-3">
              <a class="navbar-brand" routerLink="/">
                <img class="img-fluid img-thumbnail" src="http://hopenotout.pk/burger/uploads/images/logo.png" alt="">
              </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
                    aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav m-auto mt-2 mt-lg-0 justify-content-center">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/">
                    Home
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/products">
                    Menu
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/shopping-cart">
                    Shopping Cart
                    <span class="badge badge-pill badge-warning" *ngIf="cart$ | async as cart">
                        {{ cart.totalItemsCount }}
                    </span>
                  </a>
                </li>
                <ng-template #anonymousUser>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                  </li>
                </ng-template>
                <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
                  <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                    {{ appUser.name }}
                  </a>
                  <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
                    <ng-container *ngIf="appUser.isAdmin">
                      <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
                      <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
                    </ng-container>
                    <a class="dropdown-item" (click)="logout()">Log Out</a>
                  </div>
                </li>
              </ul>
            </div>
            <!--<div class="collapse navbar-collapse" id="navbarTogglerDemo02">-->
            <!--<div class="col">-->
            <!--<ul class="navbar-nav m-auto mt-2 mt-lg-0 justify-content-center">-->
            <!--<li class="nav-item active">-->
            <!--<a class="nav-link" href="#"><p>Home <span class="sr-only">(current)</span></p>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--<a class="nav-link">-->
            <!--<p>Menu</p>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--<a class="nav-link">-->
            <!--<p>Story</p>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--<a class="nav-link">-->
            <!--<p>Order</p>-->
            <!--</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--<div class="col-4 my-2 my-lg-0 d-flex nav-login-cart">-->
            <!--<a href="#" class="nav-link" data-toggle="modal"-->
            <!--data-target="#loginModal"><p>Login</p></a>-->
            <!--<a href="#" class="nav-link"><p><span-->
            <!--class="fa fa-shopping-cart"></span> Cart</p></a>-->
            <!--</div>-->
            <!--</div>-->
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header ends -->
