<div class="page-content">
  <section class="section pg-sec-main home-main">
    <div class="container custom-container2">
      <div class="row">
        <div class="col-md-12">
          <div class="banner-main">
            <div class="banner-holder" data-img-src="http://hopenotout.pk/burger/uploads/images/home-main-bg.jpg">
              <!--<div data-img-src="http://hopenotout.pk/burger/uploads/images/home-main-bg.jpg"></div>-->
              <!--<img class="img-fluid img-thumbnail" src=""/>-->
            </div>
            <div class="text-holder">
              <div class="text-center">
                <h1>what we do is simple</h1>
                <h1>we make burgers. gourmet burgers!</h1>
              </div>
              <!--<button class="btn-order" type="button"><p>Order Now</p></button>-->
              <a  routerLink="/products" class="btn-order">
                Order Now
              </a>
            </div>
            <div class="social-holder">
              <p>Come and join us for lunch or dinner</p>
              <ul>
                <li>
                  <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section home-sec-2">
    <div class="container custom-container2">
      <div class="banner-main">
        <div class="row no-gutters">
          <div class="col-md-6">
            <div class="image-holder fire">
                <img class="img-fluid img-thumbnail" src="http://hopenotout.pk/burger/uploads/images/fire.png">
            </div>
            <div class="text-holder">
              <p class="font-weight-bold">Burger of the month</p>
              <h1>Raging bull</h1>
              <h6>Our Juicy Jalapeno Beef Burger
                with Jalapeno Sauce, Onions, Ice
                Berg & Tomatoes.</h6>
              <a routerLink="/products" class="btn-order">
                Order Now
              </a>
              <!--<button class="btn-order"><p>Order Now</p></button>-->
            </div>
          </div>
          <div class="col-md-6">
            <div class="image-holder">
              <img class="img-fluid img-thumbnail" src="http://hopenotout.pk/burger/uploads/images/home-2.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section home-sec-3">
    <div class="container custom-container2">
      <div class="banner-main">
        <div class="row no-gutters">
          <div class="col-md-6">
            <div class="image-side">
              <div class="image-holder">
                <img class="img-fluid img-thumbnail" src="http://hopenotout.pk/burger/uploads/images/home-3.jpg">
              </div>
              <div class="text-holder">
                <h3>View over menu</h3>
                <h2>Chubby Cow</h2>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-side">
              <div class="text-holder">
                <h2>Our menu</h2>
                <p>The Burger Cart flutters with patriotic rhyme, check-in on Facebook and avail
                  flat 23% off on the whole menu with meals only. Come and celebrate this day with
                  us by visiting our new branch in DHA sector V. </p>
                <a  routerLink="/products" class="btn-view">
                  View menu
                </a>
                <!--<button class="btn-view" type="button"><p>View menu</p></button>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section home-sec-4">
    <div class="container custom-container2">
      <div class="banner-main">
        <div class="row no-gutters">
          <div class="col-md-4 clearfix">
            <div class="text-side">
              <div class="text-holder">
                <h2>Burger Cart!</h2>
                <p>Welcome to TBC! You’ll love every bite of our char grilled burgers made with 100%
                  fresh ingredients.</p>
                <!--<button class="btn-order-trans" type="button"  routerLink="/products"><p>Order Now</p></button>-->
                <a  routerLink="/products" class="btn-order-trans">
                  Order Now
                </a>
              </div>
            </div>
          </div>
          <div class="col clearfix">
            <ul class="banner-holder">
              <li>
                <ol class="truck-img image-holder my-cell">
                  <img class="img-fluid img-thumbnail" src="http://hopenotout.pk/burger/uploads/images/truck.png"/>
                </ol>
                <ol class="sandwich-img image-holder my-cell">
                  <img class="img-fluid img-thumbnail" src="http://hopenotout.pk/burger/uploads/images/sandwich.jpg"/>
                </ol>
                <ol class="text-holder summer-next my-cell">
                  <p>NEXT</p>
                  <h3>Burger Cart!</h3>
                  <p>This Summer!</p>
                </ol>
              </li>
              <li>
                <ol class="image-holder burger-img my-cell">
                  <img class="img-fluid img-thumbnail" src="http://hopenotout.pk/burger/uploads/images/burger.jpg"/>
                </ol>
                <ol class="text-holder t-resting my-cell">
                  <p>NOW</p>
                  <h3>The truck is resting</h3>
                </ol>
                <ol class="image-holder my-cell">
                  <img class="img-fluid img-thumbnail" src="http://hopenotout.pk/burger/uploads/images/sandwich2.jpg"/>
                </ol>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section home-sec-5">
    <div class="container custom-container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h1>We <span>offer</span></h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col-md-4">
          <div class="product-holder">
            <div class="pro-img">
              <img class="img-fluid img-thumbnail" src="http://hopenotout.pk/burger/uploads/images/pro-burger.png"/>
            </div>
            <div class="pro-lbl">
              <h5>Burger</h5>
            </div>
            <div class="pro-title">
              <div class="pro-name">
                <h3>Raging Bull</h3>
              </div>
              <div class="pro-price">
                <h3>PKR 3000</h3>
              </div>
            </div>
            <div class="pro-desc">
              <p>Chicken or beef whooper, spicy crispy chicken burger, medium fries & 2 soft
                drinks</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-holder discount">
            <div class="pro-img">
              <img class="img-fluid img-thumbnail" src="http://hopenotout.pk/burger/uploads/images/pro-burger.png"/>
            </div>
            <div class="pro-lbl">
              <h5>Burger</h5>
            </div>
            <div class="pro-title">
              <div class="pro-name">
                <h3>Raging Bull</h3>
              </div>
              <div class="pro-price">
                <h3>PKR 3000</h3>
              </div>
            </div>
            <div class="pro-desc">
              <p>Chicken or beef whooper, spicy crispy chicken burger, medium fries & 2 soft
                drinks</p>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col-md-4">
          <div class="product-holder discount">
            <div class="pro-img">
              <img class="img-fluid img-thumbnail" src="http://hopenotout.pk/burger/uploads/images/pro-burger.png"/>
            </div>
            <div class="pro-lbl">
              <h5>Burger</h5>
            </div>
            <div class="pro-title">
              <h3 class="pro-name">Raging Bull</h3>
              <h3 class="pro-price">PKR 3000</h3>
            </div>
            <div class="pro-desc">
              <p>Chicken or beef whooper, spicy crispy chicken burger, medium fries & 2 soft
                drinks</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-holder discount">
            <div class="pro-img">
              <img class="img-fluid img-thumbnail" src="http://hopenotout.pk/burger/uploads/images/pro-burger.png"/>
            </div>
            <div class="pro-lbl">
              <h5>Burger</h5>
            </div>
            <div class="pro-title">
              <h3 class="pro-name">Raging Bull</h3>
              <h3 class="pro-price">PKR 3000</h3>
            </div>
            <div class="pro-desc">
              <p>Chicken or beef whooper, spicy crispy chicken burger, medium fries & 2 soft
                drinks</p>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </section>
  <section class="section home-sec-6">
    <div class="container custom-container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h1>BURGER CART <span>in social</span></h1>
            <h6>What we are grilling on instagram</h6>
          </div>
        </div>
      </div>
      <div class="row my_instawall">
        <div class="col-md-12">
          <div class="row no-gutters">
            <div class="col-md-3 col-4">
              <div class="image-holder">
                <img class="img-fluid img-thumbnail" src="http://hopenotout.pk/burger/uploads/images/insta-1.jpg"/>
              </div>
            </div>
            <div class="col-md-3 col-4">
              <div class="image-holder">
                <img class="img-fluid img-thumbnail" src="http://hopenotout.pk/burger/uploads/images/insta-2.jpg"/>
              </div>
            </div>
            <div class="col-md-3 col-4">
              <div class="image-holder">
                <img class="img-fluid img-thumbnail" src="http://hopenotout.pk/burger/uploads/images/insta-3.jpg"/>
              </div>
            </div>
            <div class="col-md-3 col-4">
              <div class="image-holder">
                <img class="img-fluid img-thumbnail" src="http://hopenotout.pk/burger/uploads/images/insta-4.jpg"/>
              </div>
            </div>
            <div class="col-md-3 col-4">
              <div class="image-holder">
                <img class="img-fluid img-thumbnail" src="http://hopenotout.pk/burger/uploads/images/insta-5.jpg"/>
              </div>
            </div>
            <div class="col-md-3 col-4">
              <div class="image-holder">
                <img class="img-fluid img-thumbnail" src="http://hopenotout.pk/burger/uploads/images/insta-6.jpg"/>
              </div>
            </div>
            <div class="col-md-3 col-4">
              <div class="image-holder">
                <img class="img-fluid img-thumbnail" src="http://hopenotout.pk/burger/uploads/images/insta-7.jpg"/>
              </div>
            </div>
            <div class="col-md-3 col-4">
              <div class="image-holder">
                <img class="img-fluid img-thumbnail" src="http://hopenotout.pk/burger/uploads/images/insta-8.jpg"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
