/////////////////////////////////
// Theme Primary Colors
//////////////////////////////////

$white: #fff;
$white2: #ebebeb;
$white3: #e2e2e2;
$black: #000;
$black2: #111111;
$black3: #252525;
$grey: #7c7c7c;

/////////////////////////////////
// Buttons Colors
//////////////////////////////////
$blue: #1565c0;