/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
body{
    background-color: #3e5bb1;
}

.card{
    background-color: #cccccc;
    margin-bottom: 30px;
}
